<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ title|striptags }}{% endblock title %}</title>

  {% block favicon %}
  <link rel="shortcut icon" href="/favicon{% if preview_mode %}-preview{% endif %}.ico" />
  {% endblock %}

  {% block library_css %}
  {{ CSS.push('lib/revealjs/css/reveal.css') }}
  {{ CSS.push('lib/revealjs/css/theme/{0}.css'.format(reveal_theme)) }}
  {{ CSS.push('lib/revealjs-fullscreen-img/fullscreen-img.css') }}
  {{ CSS.push('styles/base.css') }}
  {{ CSS.render('css/style.min.css') }}
  {% endblock library_css %}

  {% block css %}{% endblock %}

  {% block opengraph %} 
  <meta property="og:url" content="http://{{ ROOT_URL }}/{% if PATH != 'index.html' %}{{ PATH }}{% endif %}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ opengraph_image }}" />
  <meta property="og:description" content="{{ opengraph_description }}" />
  {% endblock opengraph %}

  {% block meta %}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  {% endblock meta %}
</head>
<body {% block bodyattrs %}class="page-{{ PATH[:-5] }}"{% endblock bodyattrs %}>

{% block content %}
<div class="reveal">
  <div class="slides">
    {% for slide in slides %}
    <section id="{% if not slide.id %}_{{ loop.index }}{% else %}{{ slide.id }}{% endif %}"{% if slide.image %} fullscreen-img="{{ slide.image }}"{% endif %}>
      <h1>{{ slide.text }}</h1>
    </section>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block library_scripts %}

<script>
var SLIDESHOW_THEME = '{{ reveal_theme }}';
var TARBELL_PREVIEW_SERVER = {% if PREVIEW_SERVER %}true{% else %}false{% endif %};
</script>

{{ JS.push('lib/jquery/dist/jquery.js') }}
{{ JS.push('lib/headjs/dist/1.0.0/head.js') }}
{{ JS.push('lib/revealjs/js/reveal.js') }}
{{ JS.push('app/app.js') }}
{{ JS.render('js/app.min.js') }}

{% endblock library_scripts %}

{% block scripts %}{% endblock %}

</body>
</html>
