{% block background %}
{% if slide.media_url %}
<div class="img-container"
    {% if slide.media_fill == 0 %}
    data-imgLiquid-fill="false"
    {% endif %}
    {% if slide.media_vertical_align %}
    data-imgLiquid-verticalAlign="{{ slide.media_vertical_align }}"
    {% endif %}
    {% if slide.media_horizontal_align %}
    data-imgLiquid-horizontalAlign="{{ slide.media_vertical_align }}"
    {% endif %}
    data-background-image="{{ slide.media_url }}">
  <img{% if loop_index == 0 %} src="{{ slide.media_url }}"{% endif %} />
</div>
{% endif %}
{% endblock background %}

{% block slide %}
<div class="content">
  <div class="content-inner">
    {% if slide.headline %}
    <h1 class="headline">{{ slide.headline|smartypants|safe }}</h1>
    {% endif %}

    {% if slide.file %}
    {{ render_file(slide.file)|smartypants|markdown|safe }}
    {% endif %}

    {% if slide.content %}
    {{ slide.content|smartypants|markdown|safe }}
    {% endif %}
  </div>
</div>
{% endblock slide %}

{% block credits %}
{% if slide.media_url %}
<div class="credits">
  {% if slide.media_link %}
  <a href="{{ slide.media_link }}" target="_blank">{{ slide.media_credit }}</a>
  {% else %}
  {{ slide.media_credit }}
  {% endif %}
</div>
{% endif %}
{% endblock credits %}

{% block navbuttons %}
<div class="nav-buttons">
  {% if loop_index != 0 %}
  <button class="nav-button slide-previous"><i class="fa fa-chevron-circle-left"></i></button>
  {% endif %}
  {% if loop_index + 1 < slides|length %}
  <button class="nav-button slide-next"><i class="fa fa-chevron-circle-right"></i></button>
  {% endif %}
</div>
{% endblock navbuttons %}

