{% extends '_slide_templates/_slide_base.html' %}

{% block slide %}
<div class="content">
  <div class="content-inner">
    {% if slide.file %}
    {{ render_file(slide.file)|markdown|safe }}
    {% elif slide.content %}
    {{ slide.content|markdown|safe }}
    {% endif %}
    <div class="go-button"><a href="#{{ slides[loop_index + 1].id }}" class="btn btn-warning nav-button slide-next">Go <i class="fa fa-chevron-right"></i></a></div>
  </div>
</div>
{% endblock slide %}

{% block navbuttons %}{% endblock navbuttons %}
