.slide, .img-container, .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content {
  z-index: 10;
  overflow: scroll;
  padding: 20px;
}
.slide {
  background-color: #000;
}

body.has-nav .content,
body.has-nav .img-container {
  top: 51px;
}

.nav-buttons .nav-button {
  font-size: 48px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  opacity: 0.5;
}

