/*
 * Give the background a nice halo
 */
body {
  color: #f9f9f9;
  background-color: #000;
  background-image: radial-gradient(center center, ellipse cover, #555555, #000000);
  background-image: -o-radial-gradient(center center, ellipse cover, #555555, #000000);
  background-image: -ms-radial-gradient(center center, ellipse cover, #555555, #000000);
  background-image: -moz-radial-gradient(center center, ellipse cover, #555555, #000000);
  background-image: -webkit-radial-gradient(center center, ellipse cover, #555555, #000000);
}

/*
 * Links
 */
a {
  color: #f0ad4e;
}

a:hover {
  color: #ec971f;
}

/*
 * Position slide content
 */
.slide, .img-container, .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content {
  z-index: 10;
  overflow: scroll;
  padding: 20px;
  height: 100%;
}
.content-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}


/*
 * Position content if nav is enabled
 */
body.has-nav .content,
body.has-nav .img-container {
  top: 35px;
}

.nav-buttons .nav-button {
  font-size: 48px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  opacity: 0.5;
  background: none;
  border: none;
}

/*
 * Slim default bootstrap nav
 */
.nav-buttons .slide-previous {
  left: 10px;
}
.nav-buttons .slide-next {
  right: 20px;
}
.navbar {
  min-height: 34px;
}
.navbar-brand {
  height: 34px;
}
.navbar-nav > li > a, .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-toggle {
  margin-top: 4px;
  margin-bottom: 0;
  border: none;
}

/*
 * Style start button
 */
.go-button {
  margin-top: 30px;
}

/*
 * Credits
 */
.credits {
  position: absolute;
  color: #fff;
  background-color: #000;
  bottom: 0;
  right: 0;
  z-index: 99;
  padding: 6px 10px;
  line-height: 21px;
  font-size: 15px;
  font-weight: 700;
}

/*
 * Image overlay(s)
 */
.slide.dark-overlay {
  background-color: #000;
}
.slide.dark-overlay .content {
  color: #fff;
  text-shadow: 0 0 6px rgba(0,0,0,0.6);
}
.slide.dark-overlay .img-container {
  opacity: 0.7;
}

/*
 * Narrow lists
 */
.slide ul li, .slide ol li {
  text-align: left;
}
.slide ul, .slide ol {
  max-width: 800px;
  margin: 0 auto;
}

